{% extends 'base.template.html' %}
{% block content %}

<div class="container">
<h1>Welcome, Teacher!</h1>
    {% for each_teacher in all_teachers %}
    <tr>
        <td>{{each_teacher.first_name}}</td>
        <td>{{each_teacher.last_name}}</td>
        <td>{{each_teacher.email}}</td>
        <td>{{each_teacher.password}}</td>
        <td><a href="{{ url_for('show_edit_student', student_id=each_student._id) }}" class="btn btn-success">Edit </a></td>
        <td><a href="{{ url_for('show_confirm_delete', student_id=each_student._id) }}" class="btn btn-danger">Delete </a></td>
    </tr>  

    {%endfor%}

</div>


{% endblock %}