{% extends 'base.template.html' %}

{% block content %}
<link rel="fish" sizes="180x180" href="static/images/fish.png">
<link rel="turtle" sizes="180x180" href="static/images/turtle.png">
<link rel="manifest" href="/site.webmanifest">


<div class="container">
<h1>Welcome Parents!</h1>
</div>

<div class="row mx-md-n5">

  <div class="col px-md-5"><div class="p-3">  
  <img src="static/images/fish.png" sclass="card-img-top" alt="fishAvatar">
    <p>Name: Bennett Snerf<br>
    Class Group: Teacher Agnes<br>
    Date of Birth: 04092010</p>
  </div></div>

  <div class="col px-md-5"><div class="p-3">  
  <img src="static/images/turtle.png" sclass="card-img-top" alt="turtleAvatar">
    <p>Name: Markus Snerf<br>
    Class Group: Teacher Agnes<br>
    Date of Birth: 07122011</p>
  </div></div>

</div>

{% endblock %}