{% extends 'base.template.html' %}

{% block content %}

<div class="container">
<h1>Welcome Parents!</h1>
</div>

<div class="row mx-md-n5">

  <div class="col px-md-5"><div class="p-3">  
  <img src="static/images/youngBoy.png" class="card-img-top" alt="Student photo">
    <p>Name: Bennett Snerf<br>
    Class Group: Teacher Agnes<br>
    Date of Birth: 04092010</p>
  </div></div>

  <div class="col px-md-5"><div class="p-3">  
  <img src="static/images/boyWithGlasses.png" class="card-img-top" alt="Student photo">
    <p>Name: Markus Snerf<br>
    Class Group: Teacher Agnes<br>
    Date of Birth: 07122011</p>
  </div>
  </div>


</div>

{% endblock %}