{% extends 'base.template.html' %}

{% block content %}
<form id="student_form" method="POST" >

    <div>
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" name="first_name" />
    </div>
    <div>
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" name="last_name" />
    </div>
    <div>
        <label class="form-label">Date of Birth</label>
        <input id="date_of_birth" type="date" class="form-control" name="date_of_birth"  />
    </div>
    <div>
        <label class="form-label">Class Group</label>
        <input id="class_groupId" type="text" class="form-control" name="class_groupId"  />
    </div>
    <div>
        <label class="form-label">Clock-in</label>
        <input id="clock_in" type="time" class="form-control" name="clock_in"  />
    </div>
    <div>
        <label class="form-label">Clock-out</label>
        <input id="clock_out" type="time" class="form-control" name="clock_out"  />
    </div>
    <div>
        <label class="form-label">Teacher</label>
        <input id="teacher" type="text" class="form-control" name="teacher" />
    </div>
    <div id="error_message"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 

{% endblock %}
