{% extends 'base.template.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>      
        <th>Clock In</th>
        <th>Clock Out</th>
        <th>Class Group</th>
        <th>Teacher</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for each_student in all_students %}
    <tr>
        <td>{{each_student.first_name}}</td>
        <td>{{each_student.last_name}}</td>
        <td><input type="time" class="form-control" name="clock_in"/></td>
        <td><input type="time" class="form-control" name="clock_out"/></td>
        <td>{{each_student.class_groupId}}</td>
        <td>{{each_student.teacher}}</td>
        <td><a href="{{ url_for('students_attendance') }}" class="btn btn-success">Submit</a></td>
    </tr>  

    {%endfor%}

    </thead>

</table>




{% endblock %}