@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(83,117,245, .50);
}

.img-fluid {
  width: 100%;
}

#main {
    margin: auto;
    padding: 4em;
    text-align: center
}

.mw-100{
    filter: brightness(80%);

}

.container2 {
    margin: 15vh;
    padding: 1vh;
}

.table {
    background-color: #ffffff;
}

h1, h2, h3, h4, ul, li, p, td, th, .carousel-caption, .invalid-feedback, .btn, .form-control {
    font-family: 'Nunito', sans-serif;
    color: rgb(59, 11, 114);
    font-weight: 700;

}

mark {
   background-color: #5375F5 
}

.container-fluid {
    margin: 5vh;
}

.btn {
    background-color: rgb(255, 176, 72);
    color: rgb(59, 11, 114);

}

@media (max-width: 576px) {
  * {
    font-size: small;
    box-sizing: border-box;
  }
}

.card {
      margin: 25px;
      text-align: center;
}

.carousel-caption  {
  padding-bottom: 35vh;
  text-align: left;
}

@media (max-width: 576px) {
div.carousel-caption {
    padding-bottom: 15vh;
    font-size: small;
    text-align: left, center;
  }
}
@media (max-width: 576px) {
div.mainImg{
    padding-top: 15vh;
    padding-bottom: 0vh;
    font-size: small;
    text-align: left, center;
  }
}