@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5375f5;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #5375f5
}

.container, .col {
  margin: auto;
  padding: 2em;
  background-color: #5375f5;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

@media (max-width: 375px) {
  * {
    font-size: medium;
    box-sizing: border-box;
  }
}

