@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: rgb(83,117,245, .25);
}

.img-fluid {
  width: 100%;
}

#main {
    margin: auto;
    padding: 4em;
    text-align: center
}

.mw-100{
    filter: brightness(90%);

}

.container2 {
    margin: 15vh;
    padding: 1vh;
}

.table {
    background-color: #ffffff;
}

h1, h2, h3, h4, ul, li, p, td, th, .carousel-caption, .invalid-feedback, .btn, .form-control, .label {
    font-family: 'Nunito', sans-serif;
    color: rgb(59, 11, 114);
    font-weight: 700;

}

.href {
    color: #ffffff;
}

mark {
   background-color: #5375F5 
}

.container-fluid {
    margin: 5vh;
}

.btn {
    background-color: #B8C729;
    color: rgb(59, 11, 114);

}

.card {
      margin: 25px;
      text-align: center;
}

.carousel-caption {
  padding-top: 10vh;
  padding-bottom: 40vh;
  text-align: left;
}

div.mainImg  {
  padding-top: 40vh;
  padding-bottom: 25vh;
  text-align: left;
}

@media (max-width: 375px) {
  .carousel-caption, div.mainImg {
    padding-top: 40vh;
    padding-bottom: 5vh;
    font-size: small;
    text-align: left, center;
  }
}

