{% extends 'base.template.html' %}
{% block content %}

<div class="container">
</div>
<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>      
        <th>Email</th>
        <th>Password</th>
        <th></th>
    </tr>
    {% for each_teacher in all_teachers %}
    <tr>
        <td>{{each_teacher.first_name}}</td>
        <td>{{each_teacher.last_name}}</td>
        <td>{{each_teacher.email}}</td>
        <td>{{each_teacher.password}}</td>
        <td><a href="{{ url_for('show_edit_teacher', teacher_id=each_teacher._id) }}" class="btn btn-success">Edit </a></td>
        <td><a href="{{ url_for('show_confirm_delete_teacher', teacher_id=each_teacher._id) }}" class="btn btn-danger">Delete </a></td>
    </tr>  
    
    </thead>

     {%endfor%}
   <a href="{{ url_for('show_create_teacher') }}" class="btn btn-success"> Add Task</a>

</table>


{% endblock %}