{% extends 'base.template.html' %}

{% block content %}
<form id="student_form" method="POST" >

    <div>
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" name="sfirst_name" />
    </div>
    <div>
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" name="slast_name" />
    </div>
    <div>
        <label class="form-label">Date of Birth</label>
        <input id="sdate_of_birth" type="text" class="form-control" name="sdate_of_birth"  />
    </div>
    <div id="error_message"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 

{% endblock %}
