{% extends 'index.template.html' %}
{%block content %}

<section>
<div class="carousel-item drk active">
    <div class="mainImg">
        <img src="static/images/main2.png" class="mw-100" alt="Max-width 100%">
    </div>
                <div class="carousel-caption d-md-block">
                    <h2>Welcome!</h2>
                    <h4>Student Attendance Tracker</h4>
                    <p>A website that help teachers manage <br>student attendance record</p>
                <br>
                    <p>Sign up as a...</p>
                <a href="{{ url_for('show_create_teacher') }}" class="btn btn" role="button" aria-pressed="true">Teacher</a>

                <a href="{{ url_for('show_create_parent') }}" class="btn btn" role="button" aria-pressed="true">Parent</a>
                </div>
            </div>

</section>
            

{% endblock %}