{% extends 'base.template.html' %}
{% block content %}


<div class="container">
<h1>November</h1>
<table class="table">
  <thead>
    <tr>

      <th scope="col">Student</th>
      <th colspan="2" style="text-align: center">Time</th>
      <th scope="col">Temparature</th>
      <th scope="col">Class Group</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>
    <tr>
     {% for each_attendance in all_attendance %}
        <td>{{each_attendance.clock_in}}</td>
        <td>{{each_attendance.clock_out}}</td>
        <td>{{each_attendance.temparature}}</td>
        <td>{{each_attendance.class_groupId}}</td>
    </tr>  
    {% endfor %}
    
  </tbody>

</table>
</div>

{% endblock %}