{% extends 'base.template.html' %}
{% block content %}


<div class="container">
<h1>November</h1>
<table class="table">
  <thead>
    <tr>

      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th colspan="2" style="text-align: center">Time</th>
      <th scope="col">Temp</th>
      <th scope="col">Status</th>

    </tr>
  </thead>
  <tbody>

     {% for each_student in all_students %}
    <tr>
        <td>{{each_student.first_name}}</td>
        <td>{{each_student.last_name}}</td>
        <td><a href="{{ url_for('show_edit_student', student_id=each_student._id) }}" class="btn btn-primary">Clock In </a></td>
        <td><a href="{{ url_for('show_confirm_delete', student_id=each_student._id) }}" class="btn btn-danger">Clock Out </a></td>
    </tr>  
    {% endfor %}
    
  </tbody>

</table>
</div>

{% endblock %}