{% extends 'base.template.html' %}

{% block content %}
<form method="POST">
    <div>
        <label class="form-label">Clock In</label>
        <input type="time" class="form-control" name="clock_in"/>
    </div>
    <div>
        <label class="form-label">Clock Out</label>
        <input type="time" class="form-control" name="clock_out"/>
    </div>
    <div>
        <label class="form-label">Temparature</label>
        <input type="text" class="form-control" name="temparature"/>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>

{% endblock %}
